.title-container {
    background-image: url('https://images.pexels.com/photos/241544/pexels-photo-241544.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; */
    background-size: cover;
    background-attachment: unset;
    background-position: center;
    height: 200px;
    margin: 0;
    padding: 0;
}

h1 {
    color: orangered;
    text-shadow: 1px 1px white;
    font-family: 'Cinzel', serif;
    text-align: center;
}

#instruction {
    width: 50%;
}

h2 {
    padding: 20px;
    text-align: center;
    font-family: 'Cinzel', serif;;
}

.row {
    background-color: #da2d2d;
}

h6 {
    margin: 10px;
}

#stockIcon {
    width: 5em;
    height: 5em;
}

img {
    vertical-align: center;
    padding: 20px;
}

p {
    font-family: 'Merriweather Sans', sans-serif;
    height: 15px;
    padding: 20px;
}

.search-container {
    align-items: center;
}

.search {
    align-items: center;
}

.btn {
    align-items: center;
    margin: auto;
}

ul {
    list-style-type: none;
}

.img {
    background-image: url('https://images.unsplash.com/photo-1459257831348-f0cdd359235f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    background-size: cover;
    height: 300px;
    background-position: 45% 55%;
}

.footer-style {
    background-color:#da2d2d;
    text-align: center;
    color: ivory;
}

.results {
    margin: 0;
    padding: 15px;
}

html {
    margin: 0;
    padding: ;
}